<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<!--Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染。 	
			这么做除了使 Vue 变得非常快之外，还有其它一些好处。
			例如，如果你允许用户在不同的登录方式之间切换：-->
		<div id="app">
			<template v-if="loginType === 'username'">
			  <label>Username</label>
			  <input placeholder="Enter your username">
			</template>
			<template v-else>
			  <label>Email</label>
			  <input placeholder="Enter your email address">
			</template>
			<br />
			<button v-on:click="show">切换</button>
		</div>
		
		
		<!--这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。 
			只需添加一个具有唯一值的 key 属性即可：-->
		<div id="app2">
			<template v-if="loginType === 'username'">
			  <label>Username</label>
			  <input placeholder="Enter your username" key="username-input">
			</template>
			<template v-else>
			  <label>Email</label>
			  <input placeholder="Enter your email address" key="email-input">
			</template>
			<br />
			<button v-on:click="show">切换</button>
		</div>
		
		<!--v-show 只是简单地切换元素的 CSS 属性 display。
			注意，v-show 不支持 <template> 元素，也不支持 v-else。-->
		<div id="app3">
			<h1 v-show="ok">Hello!</h1> 
		</div>
		
	</body>
	<script type="text/javascript" src="js/vue.min.js" ></script>
	<script>
	var vm = new Vue({
		el:"#app",
		data:{
			loginType: 'username'
		},
		methods:{
			show:function(){
				if(this.loginType === 'username'){
					this.loginType = ''
				}else{
					this.loginType = 'username'
				}
			}
		}
	}) 
	
	
	var vm2 = new Vue({
		el:"#app2",
		data:{
			loginType: 'username'
		},
		methods:{
			show:function(){
				if(this.loginType === 'username'){
					this.loginType = ''
				}else{
					this.loginType = 'username'
				}
			}
		}
	}) 
	
	var vm3 = new Vue({
		el:"#app3",
		data:{
			ok: false
		}
	}) 
	
	</script>
</html>
